[submodule "vendor/holepunch/bare-native"]
	path = vendor/holepunch/bare-native
	url = https://github.com/tta-lab/bare-native.git
[submodule "vendor/holepunch/bare-web-kit"]
	path = vendor/holepunch/bare-web-kit
	url = https://github.com/tta-lab/bare-web-kit.git
[submodule "vendor/holepunch/bare-win-ui"]
	path = vendor/holepunch/bare-win-ui
	url = https://github.com/tta-lab/bare-win-ui.git
